* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* background: #161616;
  color: white;*/
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
@font-face {
    font-family: "DrukText";
    src: url("../fonts/DrukTextWide-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VanderKeur";
    src: url("../fonts/VanderKeur-Typist-Slab-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "VanderKeur-light";
    src: url("../fonts/VanderKeur-Typist-Slab-Thin.woff") format("woff");
    font-weight: normal;
}
/*********loader***********/
.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #000;
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}
/********loader****************/
/*
h1 {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Cosi Azure";
  font-size: 84px;
}

.button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 24px 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 10px;
  transition: 0.3s;
}

.button:hover a {
  background: white;
  color: #161616;
  transition: 0.3s;
}
*/
/***********************menu******************/
.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 1rem 4rem;
}

.nav {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
.nav ul {
    width: 100%;
}
.nav ul li {
    width: 100%;
    text-align: center;
}
.nav ul li a {
    display: inline-block;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
}

.menu-link {
    color: #1d1e1c;
    font-size: 11px;
    margin-left: 1rem;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-decoration: none;
    font-family: "VanderKeur";
    text-transform: uppercase;
    font-family: "VanderKeur";
    letter-spacing: 1px;
    text-transform: uppercase;
}
.menu-link:hover,
.menu-link:focus,
.menu-link:active {
    color: #1d1e1c;
    border-bottom: 1px solid #121212;
}

.input-toggler:checked ~ .sidebar {
    transform: translateX(0%);
    opacity: 0.98;
}
.input-toggler {
    display: none;
}
/*******************************************/
.bg-light {
    background-image: url(../img/bg-light.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.bg-light_folder {
    background-image: url(../img/carpeta2.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    top: 10px;
    background-size: auto;
    height: 100%;
    z-index: 1;
}
.bg-dark {
    background-image: url(../img/fondo_gris.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.slider-video {
    max-width: 690px;
    overflow: hidden;
}

.slider .slick-track {
    will-change: transform;
}

.slider .slick-list {
    overflow: visible;
    will-change: transform;
}

.slider .slick-slide {
    /*padding: 0 100px;*/
    width: 95vw;
}
.slider .slick-slide img,
.slider .slick-slide video {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    /*clip-path: polygon(54% 9%, 86% 9%, 86% 18%, 100% 18%, 100% 100%, 0 101%, 0 18%, 54% 18%);
  filter: url('#goo');*/
}
.tste-im::before {
    content: "";
    position: absolute;
}
.tste-im::after {
    content: "";
    position: absolute;
}
[type="button"] {
    position: fixed;
    top: 50%;
    z-index: 10;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: 0;
    text-indent: -9999px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.9;
    transform: translateY(-50%);
    transition: all 0.25s ease;
}
.slick-next {
    right: 0;
    margin-right: 29%;
    width: 15px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOC4wNiAzNi4xMiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmM2ViZTE7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSJDYXBhXzIiIGRhdGEtbmFtZT0iQ2FwYSAyIj48ZyBpZD0iQ2FwYV8xLTIiIGRhdGEtbmFtZT0iQ2FwYSAxIj48cG9seWdvbiBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMCAwIDAgMS4wNiAxNyAxOC4wNiAwIDM1LjA2IDAgMzYuMTIgMTguMDYgMTguMDYgMCAwIi8+PC9nPjwvZz48L3N2Zz4=);
}

.slick-prev {
    left: 0;
    margin-left: 27%;
    width: 15px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOC4wNiAzNi4xMiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmM2ViZTE7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSJDYXBhXzIiIGRhdGEtbmFtZT0iQ2FwYSAyIj48ZyBpZD0iQ2FwYV8xLTIiIGRhdGEtbmFtZT0iQ2FwYSAxIj48cG9seWdvbiBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMTguMDYgMzYuMTIgMTguMDYgMzUuMDYgMS4wNiAxOC4wNiAxOC4wNiAxLjA2IDE4LjA2IDAgMCAxOC4wNiAxOC4wNiAzNi4xMiIvPjwvZz48L2c+PC9zdmc+);
}
/*
@keyframes motion-blur {
    0% {
        filter: url(#blur0);
        transform: scale(1, 1);
    }
    15% {
        filter: url(#blur1);
        transform: scale(1, 0.98);
    }
    30% {
        filter: url(#blur2);
        transform: scale(1, 0.93);
    }
    45% {
        filter: url(#blur3);
        transform: scale(1.1, 0.9);
    }
    60% {
        filter: url(#blur4);
        transform: scale(1.2, 0.88);
    }
    75%,
    100% {
        filter: url(#blur5);
        transform: scale(1.35, 0.85);
    }
}

.do-transition {
    animation: motion-blur 0.1s linear forwards,
        motion-blur 0.4s linear reverse forwards 0.1s;
}*/
.main-logo {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    left: 4%;
    top: 55px;
}
.main-logo img {
    width: 170px;
    height: 100%;
}
.main-video {
    justify-content: center;
    padding-top: 3rem;

    position: relative;
    /*  max-width: 600px;*/
    overflow: hidden;
}
.bg-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    padding-top: 3rem;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem !important;
    align-items: center;
    z-index: 2;
    position: relative;
}
footer p,
footer a {
    font-size: 9px;
    color: #1d1e1c;
    letter-spacing: 1px;
    font-family: "VanderKeur";
    margin-bottom: 0;
}
footer a:nth-child(1) {
    margin-right: 1rem;
}

.footer-info {
    position: absolute;
    bottom: 0;
}
.footer-info p {
    font-size: 9px !important;
}
.main-home {
    min-height: 100%;
    margin-bottom: -50px;
    height: 100vh;
}
.titles-slider {
    position: absolute;

    bottom: 28%;
    max-width: 450px;
    /* margin-left: 17rem; */
    left: 27%;
}
.titles-slider p {
    font-size: 30px;
    color: #fff;
    font-family: "DrukText";
    margin-bottom: 0;
}
.titles-slider span {
    color: #fff;
    font-family: "VanderKeur-light";
    font-size: 11px;
    letter-spacing: 1px;
}
.main-director {
    /*display: flex;
  flex-wrap: wrap;*/
    margin-top: 5rem;
}
.main-director_item {
    /* width: 50%;*/
}
.main-director-names {
    font-size: 27px;
    font-family: "DrukText";
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    transform: translate(65.5%, 1300%) !important;
}
.txt-title {
    transform: translate(65.5%, 21rem) !important;
    font-family: "VanderKeur-light";
    font-size: 11px;
    letter-spacing: 2px;
    color: #000;
}

img {
    width: 100%;
    height: 100%;
}
.scroll {
    overflow-y: auto;
    height: 100vh;
    max-height: 100vh;
}
.main-galeria {
    background: url(../img/bg2.png);
    padding: 2rem;
    z-index: 3;
    position: relative;
    top: 0;
    transform: translateX(-9px);
}
.main-info {
    background: url(../img/fondo_gris.jpg);
    padding: 2rem;
    z-index: 2;
    position: relative;
    top: 0;
    overflow-y: auto;
    height: 100vh;
    max-height: 100vh;
    position: absolute;
    transform: translateX(32px);
    box-shadow: 0px 0px 15px #0202026e;
    padding-right: 0;
    transition: 0.6s;
    width: 100%;
}
.scroll::-webkit-scrollbar,
.info::-webkit-scrollbar,
.main-info::-webkit-scrollbar {
    display: none;
}
.panel {
    position: absolute;
    left: 0;
    width: calc(65% - 4.05vw);
    top: 0;
    height: 100vh;
    max-height: 100vh;
    z-index: 1;
}
.main-panel .panel {
    transform: translateX(-30rem);
    opacity: 0;
    transition: 0.5s;
}
.main-panel:nth-child(1) .panel {
    opacity: 1;
    z-index: 999;
    transform: translateX(0);
}
.main-panel .panel-active {
    transform: translateX(0);
    opacity: 1;
    display: block;

    transition: 0.7s;
}
.panel-none {
    display: none;
}
.name-info {
    transform: translateX(63.5%) translateY(-5.35vw) rotate(90deg);
    transform-origin: bottom left;
    align-items: center;
    width: 100vh;
    padding-top: 1.35vw;
    display: flex;
    position: fixed;
    top: 20px;
    cursor: pointer;
}
.name-info h3 {
    font-family: "DrukText";
    font-size: 25px;
    color: #000;
}
.main-info .info {
    /* padding: 0 6rem; */
    max-width: 466px;
    transform: translate(21rem, 0px);
    height: 95vh;
    padding-right: 5rem;
}
.galeria_img {
    margin-bottom: 2rem;
    height: auto;
    width: 100%;
}
.galeria_img img {
    object-fit: cover;
    width: 100%;
}
.zoom_image {
    position: absolute;
    top: 0;
}

.info p {
    font-family: "VanderKeur";
    font-size: 11px;
    color: #1d1e1c;
    letter-spacing: 1px;
}
.logo-info {
    text-align: end;
}
.logo-info img {
    width: 30%;
    height: auto;
}
.info hr {
    border-style: dashed;
    color: #60625d;
    margin: 1.5rem 0;
}
/*
.main-info-hover:hover {
  transform: translateX(564px);
}*/
.main-info:hover {
    transform: translateX(50px);
}
.open {
    transform: translateX(500px) !important;
    overflow-y: hidden;
}

.open .main-director-names {
    opacity: 0;
}
.open .main-info:hover {
    transform: translateX(0px);
}
.main-director-names {
    cursor: pointer;
}
.opacity {
    opacity: 0;
    transition: 0.6s;
}
/*
.panel{
display: none;}

*/

/* ELEMENT */

.card-flip {
    margin: 20px auto;
    cursor: pointer;
    perspective: 1000px;
    width: 427px;
    height: 450px;
    margin-top: 0rem;
}

.card-flip__flipper {
    transition: 0.3s ease;
    transform-style: preserve-3d;
    position: relative;
}

.card-flip__content {
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    /* overflow: hidden;*/
}

.fancy-hover__image {
    display: block;
    width: 100%;
    transition: filter 0.15s linear 0.15s;
    object-fit: cover;
    background-repeat: no-repeat;
}

.fancy-hover__fancy {
    position: absolute;
    top: 0;
    background-color: rgba(55, 66, 78, 0);
    width: 100%;
    height: 100%;
    transition: background 0.15s linear 0.15s;
}

.fancy-hover__fancy:after {
    content: "";
    background: white;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transition: left 0.15s ease-in-out, right 0.15s ease-in-out;
}

.fancy-hover__text {
    width: 100%;
    text-align: center;
    color: white;
}

.fancy-hover__element {
    width: 100%;
    position: absolute;
    padding: 16px;
}

.fancy-hover__element--title {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: sans-serif;
    transition: bottom 0.15s ease-in-out 0.15s, background 0.15s linear 0.15s;
}

.fancy-hover__element--subtitle {
    top: 100%;
    font-family: sans-serif;
    transition: top 0.15s ease-out;
}
/*
.fancy-hover:hover .fancy-hover__image {
  filter: blur(2px);
  transition-delay: 0s;
}

.fancy-hover:hover .fancy-hover__fancy {
  background: rgba(0,0,0,.5);
  transition-delay: 0s;
}

.fancy-hover:hover .fancy-hover__fancy:after {
  left: 20%;
  right: 20%;
  transition-delay: .15s;
}

.fancy-hover:hover .fancy-hover__element--title {
  bottom: 50%;
  background: rgba(0,0,0,0);
  transition-delay: 0s;
}

.fancy-hover:hover .fancy-hover__element--subtitle {
  top: 50%;
  transition: top .15s ease-in .15s;
}
*/
.card-flip__content--front {
    transform: rotateY(0deg);
    z-index: 2;
}
.card-flip__content--back:hover .team-item:nth-child(2) {
    transform: translate(100px, 54px);
}
.card-flip__content--back:hover .team-item:nth-child(1) {
    transform: translate(-120px, 0px);
}
.card-flip__content--back:hover .team-item:nth-child(3) {
    transform: translate(-117px, 70px);
}
.card-flip__content--back:hover .team-item:nth-child(4) {
    transform: translate(120px, 70px);
}
.card-flip__content--back {
    background: url(../img/document_about.png);
    background-size: cover !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px;
    height: 547px;
    transform: rotateY(180deg);
}

.card-flip.clicked .card-flip__flipper {
    transform: rotateY(180deg);
}
.clic {
    transform: rotateY(180deg);
}
.card-flip__content--front {
    transform-style: preserve-3d;
    transition: all ease-out 0.6s;
    -webkit-transition: all ease-out 0.6s;
    -moz-transition: all ease-out 0.6s;
    -ms-transition: all ease-out 0.6s;
    -o-transition: all ease-out 0.6s;
}
.fancy-hover:hover .card-flip__content--front {
    transform: rotateY(-10deg);
}
.card-flip__content--back p {
    transform: rotateZ(-3deg);
    padding: 3rem;
    font-size: 9px;
    padding-top: 1rem;
    font-family: "VanderKeur";
    line-height: 1.5;
    text-align: start;
    height: 340px;
    margin-top: 1rem;
    overflow: hidden;
}
.team {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
}
.team-item {
    width: 50%;
    transition: 0.6s;
}
.team-item img {
    width: 140px;
}
.team-item:nth-child(2) {
    transform: translate(50px, 54px);
}
.team-item:nth-child(3) {
    transform: translate(-90px, 70px);
}
.team-item:nth-child(4) {
    transform: translate(-50px, 70px);
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

.slider-text {
    background: black;
    /* box-shadow: 0 10px 20px -5px rgb(0 0 0 / 13%); */
    height: 18px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 985px;
    position: absolute;
    top: 30%;
    padding: 0.3rem;
    left: 8px;
}

.slider-text::before,
.slider-text::after {
    /*background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);*/
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider-text::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider-text::before {
    left: 0;
    top: 0;
}

.slider-text .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider-text .slide {
    height: 100px;
    width: 260px;
    color: #fff;
    font-size: 0.6rem;
    font-family: "VanderKeur";
    font-weight: 100;
    text-transform: uppercase;
}
/*
.contact {
    padding-left: 1rem;
    padding-top: 2rem;
}
.contact-item {
    position: relative;
}
.contact-item .title-contact {
    font-size: 85px;
    font-weight: bold;
    font-family: "DrukText";
    margin: 0;
    cursor: pointer;
}
.slide-track p {
    margin: 0;
}
.datos {
    visibility: hidden;
    height: 0;
}
.slider-text {
    visibility: hidden;
}
.datos {
    position: absolute;
    transform: translate(10px, 15rem);
    transition: 0.6s;
}
.contact-item .datos {
    display: flex;
    flex-direction: column;
}
.datos a,
.datos p {
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    font-family: "DrukText";
    margin: 0;
}
.datos p {
    max-width: 550px;
}

.contact-item:hover .datos a,
.contact-item:hover .datos p {
    height: auto;
    visibility: visible;
}
.contact-item:hover .slider-text {
    visibility: visible;
}
.contact-item:nth-child(2) .datos {
    transform: translate(10px, 10rem);
}
.contact-item:nth-child(3) .datos {
    transform: translate(10px, 4.5rem);
}*/
.main-private {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.form {
    background-image: url(../img/folder.png);
    background-size: 500px;
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    text-align: center;
    align-items: center;
    position: relative;
    padding-top: 2rem;
}
.form label {
    color: #f3ebe1;
    font-weight: 100;
    font-family: "VanderKeur-light";
    text-transform: uppercase;
    font-size: 16px;
}
.form input {
    background: transparent;
    box-shadow: none;
    border: 0;
    border-bottom: 2px solid #f3ebe18a;
    margin-left: 2rem;
    width: 59%;
    font-family: "VanderKeur-light";
}
.content-form {
    width: 31%;
    text-align: start;
    position: relative;
}
.content-form h3 {
    color: #f2eadf;
    font-size: 39px;
    font-family: "DrukText";
    margin-bottom: 2rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.ml-27 {
    margin-left: 5rem !important;
}
.btn {
    background: #f2eadf;
    width: 100%;
    border: 0;
    font-size: 1rem;
    text-transform: uppercase;
    color: #000;
    padding: 0.5rem;
    font-family: "VanderKeur-light";
}
.content-form::before {
    content: "2022";
    position: absolute;
    font-family: "VanderKeur-light";
    color: #f2eadf;
    right: 55px;
    top: -47px;
    font-size: 14px;
}
.pswp--zoom-allowed .pswp__img {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
}
.pswp__zoom-wrap {
    transform: translate3d(0, 0px, 0px) scale(1) !important;
}
.pswp__ui--fit .pswp__caption {
    display: none;
}
/**************TABS**************/

.tabs {
    /*  left: 50%;
    transform: translateX(-50%);*/
    position: relative;
    /* background: white;
    padding: 50px;
    padding-bottom: 80px;
    width: 70%;
    height: 250px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    min-width: 240px;*/
    margin-top: 1rem;
}
.tabs input[name="tab-control"] {
    display: none;
}
.tabs .content section h2,
.tabs ul li label {
    font-size: 11px;

    font-family: "VanderKeur";
    letter-spacing: 1px;
    color: #1d1e1c;
    text-transform: uppercase;
}
.tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: absolute;
    right: 20%;
}
.tabs ul li {
    box-sizing: border-box;
    margin-bottom: 0;
}
.tabs ul li label {
    transition: all 0.3s ease-in-out;
    color: #1d1e1c;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tabs ul li label br {
    display: none;
}
.tabs ul li label svg {
    fill: #929daf;
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
    outline: 0;
    color: #bec5cf;
}
.tabs ul li label:hover svg,
.tabs ul li label:focus svg,
.tabs ul li label:active svg {
    fill: #bec5cf;
}
.tabs .slider {
    position: relative;
    width: 25%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #1d1e1c;
    border-radius: 1px;
}
.tabs .content {
    margin-top: 30px;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs .content section {
    display: none;
    -webkit-animation-name: content;
    animation-name: content;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    line-height: 1.4;
}
.tabs .content section h2 {
    color: #1d1e1c;
    display: none;
}
.tabs .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: #1d1e1c;
    margin-top: 5px;
    left: 1px;
}
.tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
    cursor: default;
    color: #1d1e1c;
    border-bottom: 2px solid #1d1e1c;
}
.tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label
    svg {
    fill: #1d1e1c;
}
@media (max-width: 600px) {
    .tabs
        input[name="tab-control"]:nth-of-type(1):checked
        ~ ul
        > li:nth-child(1)
        > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
    transform: translateX(0%);
}
.tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ .content
    > section:nth-child(1) {
    display: block;
}
.tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
    cursor: default;
    color: #1d1e1c;
    border-bottom: 2px solid #1d1e1c;
}
.tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label
    svg {
    fill: #1d1e1c;
}
@media (max-width: 600px) {
    .tabs
        input[name="tab-control"]:nth-of-type(2):checked
        ~ ul
        > li:nth-child(2)
        > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%);
}
.tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ .content
    > section:nth-child(2) {
    display: block;
}
.tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label {
    cursor: default;
    color: #1d1e1c;
}
.tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label
    svg {
    fill: #1d1e1c;
}
@media (max-width: 600px) {
    .tabs
        input[name="tab-control"]:nth-of-type(3):checked
        ~ ul
        > li:nth-child(3)
        > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
    transform: translateX(200%);
}
.tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ .content
    > section:nth-child(3) {
    display: block;
}
.tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label {
    cursor: default;
    color: #1d1e1c;
}
.tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label
    svg {
    fill: #1d1e1c;
}
@media (max-width: 600px) {
    .tabs
        input[name="tab-control"]:nth-of-type(4):checked
        ~ ul
        > li:nth-child(4)
        > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
    transform: translateX(300%);
}
.tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ .content
    > section:nth-child(4) {
    display: block;
}
@-webkit-keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@media (max-width: 1000px) {
    .tabs ul li label {
        white-space: initial;
    }
    .tabs ul li label br {
        display: initial;
    }
    .tabs ul li label svg {
        height: 1.5em;
    }
}
@media (max-width: 600px) {
    .tabs ul li label {
        padding: 5px;
        border-radius: 5px;
    }
    .tabs ul li label span {
    }
    .tabs .slider {
        display: none;
    }
    .tabs .content {
        margin-top: 20px;
        height: 55vh;
    }
    .tabs .content section h2 {
        display: block;
    }
}
.slider-services {
    max-width: 500px;
}
.marco {
}
.slider-services .slick-slide {
    padding: 0 4rem;
    padding-top: 5rem;
}
.slider-services .slick-slide img {
    display: block;
    padding-bottom: 10rem;
}
.slick-counter {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
.custom-paging {
    position: absolute;
    top: 65%;
    left: 57%;
    height: 15px;
    overflow: hidden;
    color: #000000c7;
    font-family: "VanderKeur";
    font-size: 0.6rem;
}
.marco::after {
    background: url(../img/marco.png);
    background-size: 100% !important;
    position: absolute;
    content: "";
    height: 412px;
    width: 420px;
    background-repeat: no-repeat;
    top: -1%;
    margin-left: -12rem;
    z-index: 9;
    box-shadow: 2px 14px 9px #00000075;
    border-radius: 3px;
}

/**********************************/

.tabs-gallery,
.tabs-gallery2 {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.tabs-gallery span {
    background: none;
    color: #000;
    display: inline-block;
    padding: 0px 27px;
    cursor: pointer;
    font-family: "DrukText";
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
}
.tabs-gallery2 span {
    background: none;
    color: #000;
    display: inline-block;
    padding: 0px 27px;
    cursor: pointer;
    font-family: "DrukText";
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
}
.tabs-gallery .current {
    background: transparent;
    color: #222;
}
.tabs-gallery2 .current2 {
    background: transparent;
    color: #222;
}

.tab-content {
    display: none;
    background: transparent;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tab-content2 {
    display: none;
    background: transparent;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#gallery figure {
    display: none;
}
#gallery figure:nth-child(1) {
    display: block;
}
figure img {
    max-width: 95%;
}
.tab-content.current {
    display: inherit;
    display: block;
    text-align: center;
    position: relative;
}
.tab-content2.current2 {
    display: inherit;
    display: block;
    text-align: center;
    position: relative;
}
.container-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
    justify-items: center;
    align-items: center;
}
.p-10 {
    padding-top: 10rem;
}
.counter {
    z-index: 9;
    position: relative;
    transform: translateX(8rem);
    font-family: "VanderKeur";
    font-size: 0.7rem;
}

.name-gallery {
    top: 1.8rem;
    margin-left: 1.5rem;
    z-index: 10;
    position: relative;
}
.name-gallery p {
    font-family: "DrukText";
    color: #000;
    font-size: 1.8rem;
}
.panel figure img {
    max-width: 100%;
    width: 100%;
}
.pswp__ui--idle .pswp__top-bar {
    opacity: 1 !important;
    background: transparent !important;
}
.pswp__counter,
.pswp--zoom-allowed .pswp__button--zoom,
.pswp--supports-fs .pswp__button--fs,
.pswp__button--share {
    display: none !important;
}
.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
    background: transparent !important;
}
.slider-films {
    max-width: 67rem;
    /* transform: translate(16rem, 3rem);*/
}
.slider-films_item {
    padding: 1rem;
    cursor: pointer;
    transition: 0.6s;
}
.slider-films_item:hover {
    transform: translateY(-10px);
}
.slider-films .slick-slide img {
    height: 460px;
}
.slider-films .slick-next {
    right: -16px;
    margin-right: auto;
    filter: invert(1);
}
.slider-films .slick-prev {
    display: none !important;
}
.section-films {
    opacity: 0;
    height: 0;
    display: none;
}
.active-films {
    opacity: 1;
    height: 100vh;
    display: block;
}

/***************/
.film-grid {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 872px; */
    padding-left: 18rem;
    padding-right: 4rem;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.film-grid_item:nth-child(1) {
    width: 40%;
    overflow-y: scroll;
}
.film-grid_item:nth-child(2) {
    width: 60%;
    padding-left: 0.8rem;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #fff !important;
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #9e9e9e;
}
.active-films .film-grid {
    display: flex;
}
.active-films main {
    opacity: 0;
    height: 0;
}
.film-grid_item .title-film {
    font-family: "DrukText";
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.film-grid_item p {
    font-family: "VanderKeur-light";
    font-size: 10px;
    line-height: 1.7;
    letter-spacing: 0.5px;
}
.end {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2rem;
}
.slider-films [type="button"] {
    position: absolute;
}
.btn_more {
    font-family: "VanderKeur-light";
    font-size: 11px;
    cursor: pointer;
}
.arrow {
    transition: 0.8s;
    cursor: pointer;
    top: -99%;
    z-index: 999;
    position: absolute;
    width: 100%;
    left: 0%;
    right: 0;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOC4wNiAzNi4xMiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmM2ViZTE7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSJDYXBhXzIiIGRhdGEtbmFtZT0iQ2FwYSAyIj48ZyBpZD0iQ2FwYV8xLTIiIGRhdGEtbmFtZT0iQ2FwYSAxIj48cG9seWdvbiBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMCAwIDAgMS4wNiAxNyAxOC4wNiAwIDM1LjA2IDAgMzYuMTIgMTguMDYgMTguMDYgMCAwIi8+PC9nPjwvZz48L3N2Zz4=);
    height: 40px;
    filter: invert(1);
    transform: rotate(-90deg);
    background-repeat: no-repeat;
}
.arrow a {
    color: transparent;
}
.arrow a:hover {
    color: transparent;
}
.hidden-film {
    transition: 0.6s;
}
a:hover {
    color: #4f4f4f !important;
}
.contacto {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
    margin-top: 3rem;
}
.contacto-item {
    width: 50%;
}
.contacto p,
.contacto a {
    font-family: "DrukText";
    font-size: 19px;
    color: #000;
    line-height: 0.5;
}
/*******mediasquery **********/
@media only screen and (max-width: 600px) {
    figure img {
        max-width: 80%;
    }
    body,html{
        overflow-x: hidden;
    }
    .name-gallery p {

        font-size: 1.2rem;
    }
    .name-gallery {

        margin-left: 0;

    }
    /***********************menu******************/

    .menu-toggler {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 80px;
        height: 90px;
        background: transparent;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
    }

    .menu-toggler-line {
        width: 60%;
        height: 3px;
        background: #000;
        margin: 0 0 10px 0px;
        position: relative;
        transition: all 0.4s ease-out;
    }
    .menu {
        flex-direction: column;
        opacity: 1 !important;
    }

    .input-toggler:checked ~ .menu-toggler .menu-toggler-line {
        top: 5px;
        translatey: 100px;
        transform: rotate(45deg);
    }

    .input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(2) {
        display: none;
    }

    .input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(3) {
        top: -5px;
        translatey: 10;
        transform: rotate(135deg);
    }

    .nav {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
    }
    .nav ul {
        width: 100%;
    }
    .nav ul li {
        width: 100%;
        text-align: center;
    }
    .nav ul li a {
        display: inline-block;
        font-size: 36px;
        color: #fff;
        text-transform: uppercase;
    }

    .sidebar {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;

        opacity: 0.5;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(-100%);

        transition: all 0.4s ease-out;
        background: white;
        z-index: 1;
    }
    .menu-link {
        color: #1d1e1c;
        font-size: 18px;
        line-height: 3;
    }

    .menu-link:hover,
    .menu-link:focus,
    .menu-link:active {
        color: gray;
    }

    .input-toggler:checked ~ .sidebar {
        transform: translateX(0%);
        opacity: 0.98;
    }
    .main-logo {
        left: 6%;
        top: 10px;
    }
    .main-logo img {
        width: 102px;
    }
    .bg-light {
        align-items: center;
        justify-content: center;
        justify-items: center;
        display: flex;
    }
    .slick-slide {
        padding: 0;
    }
    .slick-slide img {
        max-width: 100%;
    }
    .titles-slider p {
        font-size: 12px;
    }
    .titles-slider span {
        font-size: 10px;
    }
    [type="button"] {
        top: 48%;
    }
    .slick-next {
        margin-right: 17%;
    }
    .slick-prev {
        margin-left: 15%;
    }
    .titles-slider {
        top: 45%;
        margin-left: -1rem;
        max-width: 62%;
        line-height: 1.5;
        top: 52%;
        left: 21%;
    }
    footer {
        padding: 0 0.5rem !important;
        align-items: center;
        z-index: 1;
        flex-direction: column;
        text-align: center;
    }
    .main-director-names {
        font-size: 24px;

        transform: translateX(0rem) !important;
    }
    .main-panel {
        transition: 0.6s;
    }
    .main-info {
        transform: translateX(-40px);
    }
    .name-info {
        transform: translateX(38.2vw) translateY(-15.35vw) rotate(90deg);
    }
    .panel {
        width: 100%;
        height: 0vh;
        position: relative;
    }
    .main-galeria {
        padding: 1rem;
        transform: translateX(0px);
    }
    .main-panel:nth-child(1) .panel {
        opacity: 0;
        z-index: 999;
        transform: translateX(0);
    }
    .bg-light_folder {
        background-size: 200%;
    }
    .container-gallery {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }
    .tabs-gallery span,
    .tabs-gallery2 span {
        font-size: 1rem;
        padding: 0;
    }
    .no_height {
        height: auto;
        height: -webkit-fill-available;
        overflow: auto;
    }
    .tabs {
        margin-top: 7rem;
    }
    .tabs ul {
        padding-left: 0;

        position: relative !important;
        right: auto;
        width: 100%;
        text-align: center;
        margin: 0;
        flex-direction: unset;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 7rem;
    }
    /*******************************************/
    .marco::after {
        margin-left: auto;
        width: 346px;
        top: -1%;
        left: 0;
        height: 340px;
    }
    .main-home {
        margin-bottom: 0;
    }
    body {
        background: #f4eadf;
    }
    .pswp__img {
        top: 24%;
    }
    .marco::after {
        z-index: 1;
    }
    .slider-films {
        max-width: 100%;
        /* transform: translate(16rem, 3rem); */
    }
    .slider-films .slick-slide img {
        height: 450px;
        padding: 2rem;
        width: 100%;
    }
    .end {
        padding-right: 0rem;
    }
    .slider-films .slick-next {
        right: 5%;
    }
    .film-grid {
        padding-left: 2rem;
        padding-right: 2rem;
        flex-direction: column;
        flex-wrap: initial;
        margin-top: 18rem;
        height: -webkit-fill-available;
    }
    .film-grid_item:nth-child(1) {
        width: 100%;
        overflow-y: unset;
    }
    .film-grid_item:nth-child(2) {
        width: 100%;
        padding-left: 0;
    }
    .active-films {
        overflow: auto;
        height: -webkit-fill-available;
    }
    .arrow {
        bottom: 16px;
        position: fixed;
        top: initial;
        left: 85%;
        right: 0;
        height: 50px;
        width: 52px;
        background-size: 14px;
        background-position: center;
    }
    .arrow a {
        border: 1px solid white;
        width: 50px;
        height: 50px;
        padding: 1rem;
        text-align: center;
        display: flex;
        border-radius: 50%;
    }
    .fancy-hover__image {
        max-width: 80%;
    }
    .card-flip__content--front {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .team {
        display: none;
    }
    .card-flip__content--back {
        background-size: 85% !important;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 16px;
        height: 517px;
    }
    .contacto-item {
        width: 100%;
        margin-bottom: 4rem;
    }
    .contacto p,
    .contacto a {
        font-size: 0.9rem;
    }
    .contacto {
        height: -webkit-fill-available;
        margin-top: 9rem;
    }
    .form {
        background-size: contain;
        margin: 0.5rem;
    }
    .content-form h3 {
        font-size: 1rem;

        margin-bottom: 1rem;
    }
    .content-form {
        width: 100%;
        padding: 0 1rem;
    }
    .form label {
        font-size: 0.9rem;
    }
    .ml-27 {
        margin-left: 1rem !important;
    }
    .content-form::before {
        display: none;
    }
    .form input {
        margin-left: 0rem;
    }
    .form .mb-2 {
        margin-bottom: 1rem;
    }
    .main-private {
        height: 100vh;
    }
    .home-main {
        height: 80vh;
    }
    .bg-light_folder {
        background-image: url(../img/bg_xs.png);

        top: 21px;
        background-size: cover !important;
    }
    .main-panel .panel-active {
        overflow: scroll;
        height: 50vh;
        opacity: 1 !important;
    }
    .main-director {
        margin-top: 4rem;
        padding: 0 1rem;
    }
    .txt-title {
        transform: none !important;
    }
}
/*tablet*/
@media (max-width: 768px) {
    .txt-title {
   /*     transform: translate(62.5%, 19rem) !important;*/
    }
    .main-director-names {
        font-size: 17px;
        /*
        transform: translate(62.5%, 1163%) !important;*/
    }
    .name-info {
        transform: translateX(57.5%) translateY(-8.35vw) rotate(90deg);
    }
    .main-info .info {
        transform: translate(8rem, 0px);

        padding-right: 5rem;
    }
    .panel {
        /*  width: calc(60% - 4.05vw);*/
    }
    .main-info .info {
        transform: translate(1rem, 0px);
    }
    .open {
        transform: translateX(281px) !important;
    }
    .bg-light_folder {
        background-size: 200%;
    }
    .menu {
        padding: 1rem 1rem;
    }
    .main-logo {
        top: 40px;
    }
    .main-logo img {
        width: 120px;
    }
    .slick-prev {
        margin-left: 9%;
    }
    .slick-next {
        margin-right: 13%;
    }
    .titles-slider {
        left: 18%;
    }
}

@media (min-width: 1400px) {
    .bg-light_folder {
        background-size: 150%;
    }
    .main-director-names {
        transform: translate(65.5%, 2900%) !important;
    }
    .txt-title {
        transform: translate(65.5%, 2900%) !important;
    }
    .main-galeria {
        transform: translateX(-10px);
    }
    .open {
        transform: translateX(630px) !important;
    }
    .main-info .info {
        max-width: 600px;
        transform: translate(35rem, 0px);
    }
    .name-info {
        transform: translateX(27.8vw) translateY(-3.35vw) rotate(90deg);
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
}

@media (max-width: 1024px) {
}

@media only screen and (device-width: 1280px) and (device-height: 800px) {

    .open {
        transform: translateX(390px) !important;

    }
    .main-info .info {

        max-width: 380px;
        transform: translate(23rem, 0px);

    }
    .name-info {
        transform: translateX(41.9%) translateY(-5.35vw) rotate(90deg);

    }
    .main-director-names {

        transform: translate(65.5%, 1900%) !important;
    }
    .txt-title {
        transform: translate(65.5%, 31rem) !important;

    }
    .slider-films {
        max-width: 61rem;

    }
    .slider-films .slick-slide img {
        height: 423px;
    }
    .slider .slick-slide {
        padding: 0 100px;

    }
    .arrow {

        top: -75%;
    }
}
@media only screen and (device-width: 1024px) and (min-height: 500px) {
    .bg-light {

        background: red;
    }
    .main-director-names {
        font-size: 20px;

        transform: translate(65.5%, 1100%) !important;
    }
    .txt-title {
        transform: translate(65.5%, 18rem) !important;

    }.panel {

        width: calc(60% - 4.05vw);

    }
    .open {
        transform: translateX(342px) !important;

    }
    .main-info .info {

        transform: translate(13rem, 0px);
        max-width: 390px;
    }
    .name-info h3 {

        font-size: 20px;

    }
    .name-info {
        transform: translateX(49.5%) translateY(-5.35vw) rotate(90deg);
    }
    .tabs-gallery span {

        font-size: 1rem;

    }
    .marco::after {

        height: 340px;
        width: 346px;
    }
    figure img {
        max-width: 72%;
    }
    .name-gallery {

        margin-left: 0;

    }
    .name-gallery p {

        font-size: 1.5rem;
    }
    .slider-films {
        max-width: 49rem;
        /* transform: translate(16rem, 3rem); */
    }
    .slider-films .slick-slide img {
        height: 330px;
    }
    .main-logo img {
        width: 135px;

    }
    .film-grid {

        padding-left: 13rem;
        padding-right: 1rem;

    }
    .film-grid_item .title-film {

        font-size: 1.2rem;

    }
    .film-grid_item p {

        font-size: 9px;

    }
    .arrow {

        top: -83%;
    }
}
